:root {
    --square-light: var(--bs-light);
    --square-light-hover: color-mix(in hsl, var(--bs-light) 70%, var(--bs-dark));
    --square-dark: var(--bs-dark);
    --square-dark-hover: color-mix(in hsl, var(--bs-dark) 70%, var(--bs-light));
}

.board {
    margin: 0;
    padding: 0;

    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;

    max-width: 45%;
    box-sizing: border-box;
}

.square::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-light {
    background-color: var(--square-light);
}

.square-light:hover {
    background-color: var(--square-light-hover);
}

.square-dark {
    background-color: var(--square-dark);
}

.square-dark:hover {
    background-color: var(--square-dark-hover);
}