:root {
    --primary: #779556;
    --primary-hover: rgba(119, 149, 86, 0.68);
}

/* ********** Sobreescriu boostrap ********** */
.active {
    color: var(--primary) !important;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: bold !important;
}

.btn-green {
    border: none;
    color: white;
    background-color: var(--primary) !important;
}

.btn-green:hover {
    background-color: var(--primary-hover) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.username-truncate > tr > td > span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25vh;
}